.btn {
	position: relative;
	cursor: pointer;
	padding: var(--btn-padding);
	border-radius: var(--border-radius);
	border: none;
}

.btn-primary {
	background-color: var(--clr-primary-hover);
	border: 2px solid var(--clr-primary);
	transition: all 100ms ease;
	font-weight: 500;

	&:hover {
		background-color: var(--clr-primary);
	}
}

.btn-secondary {
	background-color: transparent;
	border: 2px solid var(--clr-primary);
	color: var(--clr-primary);
	transition: all 100ms ease;
	font-weight: 500;

	&:hover {
		background-color: var(--clr-grey-hover);
	}
}

.btn-link {
	padding: unset;
	display: inline-block;
	width: fit-content;
	color: inherit;
	text-decoration: none;
	transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
	background-color: transparent;

	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		bottom: -1px;
		left: 50%;
		width: 0%;
		height: 1px;
		background-color: var(--clr-primary);
		transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
	}

	&:hover {
		color: var(--clr-primary);
	}

	&:hover::after {
		width: 100%;
		left: 0%;
	}

	&-danger {
		@extend .btn-link;
		color: var(--clr-error);

		&::after { content: none; }
	}
}

.input-group {
	position: relative;
	display: flex;
	flex-direction: column;

	label {
		margin-bottom: 3px;
	}

	input {
		border-radius: var(--border-radius);
		border: 1px solid var(--clr-grey);
		padding: var(--btn-padding);
		background-color: transparent;
		color: var(--clr-white);
		outline: none;

		&:hover {
			border-color: var(--clr-grey-hover);
		}

		&:focus-within {
			border-color: #919191;
		}

		&.is-invalid {
			border-color: var(--clr-error);
		}
	}

	.invalid-feedback {
		position: absolute;
		right: 0.5em;
		bottom: -1.15em;
		font-size: 12px;
		background-color: var(--clr-error);
		padding: var(--btn-padding);
		border-radius: var(--border-radius);
	}

	.input-btn-group {
		display: flex;
		align-items: center;
		position: relative;

		input { width: 100% }

		input ~ .icon-btn {
			position: absolute;
			right: .5rem;
			color: var(--clr-white);
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;

			&:hover { opacity: .75 }
		}
	}
}

.google-auth {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-white);
	text-decoration: none;
	border: 1px solid var(--clr-grey);
	border-radius: var(--border-radius);
	padding: var(--btn-padding);

	svg {
		width: 1rem;
		height: 1rem;
		margin-right: .5rem;
	}

	&:hover {
		background-color: var(--clr-grey-dark);
	}
}