// Import Google Monterrat font with all the weights
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// 100 = thin
// 200 = extra-light
// 300 = light
// 400 = regular
// 500 = medium
// 600 = semibold
// 700 = bold
// 800 = extra-bold
// 900 = black

// HTML5 default style reset
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
	padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

	font-family: 'Montserrat', sans-serif;
	background-color: var(--dark-bg);
	color: var(--clr-white);
	overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

// Generate a custom scrollbar
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--dark-bg);
	border-left: 1px solid var(--clr-grey-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--clr-grey-dark);

	&:hover {
		background: var(--clr-grey);
	}
}