<div class="occupy-space"></div>

<nav id="app-nav" class="partial-nav">
	<div class="container nav-container">

		<a class="nav-title btn btn-link" href="/">Fotaza</a>

		<div class="nav-right">

			<form class="nav-search" @submit.prevent="search">
				<div class="input-group">
					<div class="input-btn-group">
						<input type="text" class="form-control" placeholder="Search" v-model="query">
						<button type="submit" class="icon-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
				</div>
			</form>

			<div class="nav-profile">
				<!-- First a button, if there is no userID -->
				<a v-if="!user.id" class="btn btn-link" href="/auth#login">Log-in</a>
				<!-- If there is a userID, then dropdown -->
				<div v-else class="dropdown">
					<div class="dropdown-toggle" @click="dropdown = !dropdown">
						<img :src="user.avatar || '/img/user.svg'" alt="">
					</div>
					<div class="dropdown-content" v-show="dropdown">
						<div class="datos-perfil">
							<p class="datos-nombre">{{ user.nombre || 'Sin nombre' }}</p>
							<p class="datos-usuario">{{ user.usuario || 'Sin usuario' }}</p>
						</div>
						<a class="btn btn-link" :href="`/profile/${user.usuario}`">Ver perfil</a>
						<a class="btn btn-link" href="/profile/edit">Editar perfil</a>
						<button class="btn btn-link" @click="logout">Cerrar sesion</button>
					</div>
				</div>
			</div>

		</div>

	</div>

</nav>

<script>
	const userDefault = {
		id: null,
		nombre: '',
		email: '',
		usuario: '',
		avatar: ''
	}
	const vueApp = new Vue({
		el: "#app-nav",

		data: {
			user: JSON.parse(JSON.stringify(userDefault)),

			dropdown: false,
			query: ''
		},

		methods: {

			async obtenerUsuario() {
				const vm = this
				if (!userId) return

				const user = await getUser()
				if (user != null) Object.assign(vm.user, user)
			},

			logout() {
				const cachedUserData = localStorage.getItem('user');
				if (cachedUserData) localStorage.removeItem('user');
				window.location.href = '/auth/logout'
			},

			search() {
				const vm = this
				window.location.href = `${baseUrl}/search?q=${vm.query}`
			}

		},

		mounted() {
			const vm = this
			vm.obtenerUsuario()

			// Cuando hacen click afuera del toggle, desaparece el dropdown
			window.onclick = e => {
				if (!e.target.matches('.dropdown-toggle') && !e.target.matches('img')) {
					vm.dropdown = false
				}
			}
		}
	})
</script>