<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
	<%- include('partials/nav') %>

	<div id="app" class="home-page">

		<side-nav v-if="user.id" selected="home"></side-nav>

		<div class="post-container">

			<post-component v-for="post in posts" :key="post.id" :post="post"></post-component>

			<div class="loading-container" ref="loadMore">
				<Transition name="showLoad">
					<load-component v-if="loading"></load-component>
				</Transition>
			</div>


		</div>

	</div>
	
</body>
</html>
