<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

	<body>
		<div id="app" class="login-page">

			<h1 class="page-title">Fotaza</h1>

			<div class="forms-container" :class="{ 'log-in-active': loginActive, 'sign-up-active': !loginActive }">
				
				<ul class="options">
					<li @click="loginToggle"  :class="{ 'active-option': loginActive }">Log-in</li>
					<li @click="signupToggle" :class="{ 'active-option': !loginActive }">Sign-up</li>
				</ul>

				<div class="forms">
					<!-- Login form -->
					<div class="form-container">

						<form id="login-form" class="log-in" @submit.prevent="submitForm(true)">
							<a class="google-auth" href="/auth/google">
								<!-- Google icon svg -->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:v="https://vecta.io/nano" viewBox="0 0 186.69 190.5">
									<g transform="translate(1184.583 765.171)">
										<path clip-path="none" mask="none" d="M-1089.333-687.239v36.888h51.262c-2.251 11.863-9.006 21.908-19.137 28.662l30.913 23.986c18.011-16.625 28.402-41.044 28.402-70.052 0-6.754-.606-13.249-1.732-19.483z" fill="#4285f4"/>
										<path clip-path="none" mask="none" d="M-1142.714-651.791l-6.972 5.337-24.679 19.223h0c15.673 31.086 47.796 52.561 85.03 52.561 25.717 0 47.278-8.486 63.038-23.033l-30.913-23.986c-8.486 5.715-19.31 9.179-32.125 9.179-24.765 0-45.806-16.712-53.34-39.226z" fill="#34a853"/>
										<path clip-path="none" mask="none" d="M-1174.365-712.61c-6.494 12.815-10.217 27.276-10.217 42.689s3.723 29.874 10.217 42.689c0 .086 31.693-24.592 31.693-24.592-1.905-5.715-3.031-11.776-3.031-18.098s1.126-12.383 3.031-18.098z" fill="#fbbc05"/>
										<path d="M-1089.333-727.244c14.028 0 26.497 4.849 36.455 14.201l27.276-27.276c-16.539-15.413-38.013-24.852-63.731-24.852-37.234 0-69.359 21.388-85.032 52.561l31.692 24.592c7.533-22.514 28.575-39.226 53.34-39.226z" fill="#ea4335" clip-path="none" mask="none"/>
									</g>
								</svg>
								Continue with Google
							</a>
							<div class="input-group">
								<label for="email-login">Email:</label>
								<input type="email" name="email-login" id="email-login" v-model="loginDetails.email">
							</div>
							<div class="input-group">
								<label for="pass-login">Password:</label>
								<div class="input-btn-group">
									<input :type="loginInputTypePassword ? 'password' : 'text'" name="pass-login" id="pass-login" v-model="loginDetails.password">
									<button @click="loginInputTypePassword = !loginInputTypePassword" type="button" class="icon-btn"><i class="fa-solid fa-eye"></i></button>
								</div>
							</div>

							<!-- <div class="btn btn-link forgot-password">¿Olvidaste tu contraseña?</div> -->

							<div class="submit-group">
								<input class="btn btn-primary" type="submit" value="Log-in">
							</div>

							<a href="#signup" class="btn btn-link">No tienes una cuenta? <b>Registrar</b></a>

						</form>
					</div>

					<!-- Sign up form -->
					<div class="form-container">

						<form id="signup-form" class="sign-up" @submit.prevent="submitForm()">
							<a class="google-auth" href="/auth/google">
								<!-- Google icon svg -->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:v="https://vecta.io/nano" viewBox="0 0 186.69 190.5">
									<g transform="translate(1184.583 765.171)">
										<path clip-path="none" mask="none" d="M-1089.333-687.239v36.888h51.262c-2.251 11.863-9.006 21.908-19.137 28.662l30.913 23.986c18.011-16.625 28.402-41.044 28.402-70.052 0-6.754-.606-13.249-1.732-19.483z" fill="#4285f4"/>
										<path clip-path="none" mask="none" d="M-1142.714-651.791l-6.972 5.337-24.679 19.223h0c15.673 31.086 47.796 52.561 85.03 52.561 25.717 0 47.278-8.486 63.038-23.033l-30.913-23.986c-8.486 5.715-19.31 9.179-32.125 9.179-24.765 0-45.806-16.712-53.34-39.226z" fill="#34a853"/>
										<path clip-path="none" mask="none" d="M-1174.365-712.61c-6.494 12.815-10.217 27.276-10.217 42.689s3.723 29.874 10.217 42.689c0 .086 31.693-24.592 31.693-24.592-1.905-5.715-3.031-11.776-3.031-18.098s1.126-12.383 3.031-18.098z" fill="#fbbc05"/>
										<path d="M-1089.333-727.244c14.028 0 26.497 4.849 36.455 14.201l27.276-27.276c-16.539-15.413-38.013-24.852-63.731-24.852-37.234 0-69.359 21.388-85.032 52.561l31.692 24.592c7.533-22.514 28.575-39.226 53.34-39.226z" fill="#ea4335" clip-path="none" mask="none"/>
									</g>
								</svg>
								Continue with Google
							</a>
							<div class="input-group">
								<label for="email-signup">Email</label>
								<input type="email" name="email-signup" id="email-signup" v-model="signupDetails.email">
							</div>
							<div class="input-group">
								<label for="pass-signup">Password</label>
								<div class="input-btn-group">
									<input :type="signupInputTypePassword ? 'password' : 'text'" name="pass-signup" id="pass-signup" v-model="signupDetails.password">
									<button @click="signupInputTypePassword = !signupInputTypePassword" type="button" class="icon-btn"><i class="fa-solid fa-eye"></i></button>
								</div>
							</div>
							<div class="input-group">
								<label for="pass-confirm-signup">Confirm Password</label>
								<input type="password" name="pass-confirm-signup" id="pass-confirm-signup" v-model="signupDetails.confirmPassword">
							</div>

							<div class="submit-group">
								<input class="btn btn-primary" type="submit" value="Sign-up">
							</div>
							
							<a href="#login" class="btn btn-link">Ya tienes una cuenta? <b>Log-in</b></a>
							
							
						</form>
					</div>

				</div>
			</div>

		</div>

	</body>

</html>