<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>

	<body>
		<%- include('partials/nav') %>

		<div id="app" class="photo-page">

			<!-- <side-nav></side-nav> -->

			<div class="container">

				<div class="photo-preview">
					<div class="photo__img">
						<img :src="photo.file_path" alt="Post Image">
					</div>
				</div>

				<div class="photo-data">
					<div class="data__header">

						<div class="data__header-top">
							<a class="data__header-profile" :href="`${baseUrl}/profile/${user.usuario}`">
								<img class="data__header-avatar" :src="user.avatar || '/img/user.svg'" alt="">
								<span>{{ user.nombre }}</span>
							</a>
							<span class="data__header-date">
								<span class="data__header-separator">•</span>{{ relativeTime }}
							</span>
						</div>

						<div>
							<p>{{ photo.title }}</p>
							<div class="data__header-tags">
								<span class="tag" v-for="tag in photo.tags">#{{ tag.tag_name }}</span>
							</div>
						</div>

					</div>

					<div class="data-body">

						<div class="interested" v-if="userId == photo.user_id">
							<div class="collapsable-div" :class="{ open: showCollapseInterested }">
								<div class="collapsable-title" @click="showCollapseInterested = !showCollapseInterested">
									<span>Ver interesados</span>
									<i class="fa-solid fa-chevron-down"></i>
								</div>
								<div class="collapsable-content">
									<div v-if="interested.length > 0">
										<a class="interested__item" v-for="i in interested" :href="`${baseUrl}/profile/${i.user.usuario}`">
											<img :src="i.user.avatar">
											<span>{{ i.user.nombre }}</span>
										</a>
									</div>
									<div v-else class="interested__empty">
										<p>No hay interesados...</p>
									</div>
								</div>
							</div>
						</div>
	
						<div class="comments">
							<div v-if="comments.length > 0">
								<comment-component v-for="comment in comments" :comment="comment" :key="comment.id"></comment-component>
							</div>
							<div v-else class="comments__empty">
								<p>No hay comentarios...</p>
							</div>
						</div>

					</div>


					<div class="actions" v-if="userId !== null">

						<div class="actions-group">

							<div class="actions__rating">
								<form class="actions__rating-stars">
									<p>
										<input type="radio" :id="radioId + '-1'" name="rating" value="5" v-model="rating">
										<label :for="radioId + '-1'">★</label>
										<input type="radio" :id="radioId + '-2'" name="rating" value="4" v-model="rating">
										<label :for="radioId + '-2'">★</label>
										<input type="radio" :id="radioId + '-3'" name="rating" value="3" v-model="rating">
										<label :for="radioId + '-3'">★</label>
										<input type="radio" :id="radioId + '-4'" name="rating" value="2" v-model="rating">
										<label :for="radioId + '-4'">★</label>
										<input type="radio" :id="radioId + '-5'" name="rating" value="1" v-model="rating">
										<label :for="radioId + '-5'">★</label>
									</p>
								</form>
								<div class="actions__rating-average">{{ photo.rating_average ? photo.rating_average + ' (promedio)' : '' }}</div>
							</div>

							<div class="actions__interested" v-if="userId != photo.user_id">
								<button class="btn btn-link" :class="{ 'interested': interesado }" @click="interesado = !interesado"><i class="fa-solid fa-cart-shopping"></i></button>
							</div>

						</div>

						<div class="actions__comment">
							<form @submit.prevent="sendComment">
								<div class="input-group">
									<div class="input-solid-btn-group">
										<input type="text" placeholder="Comentar..." v-model="comentario">
										<button class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>

			</div>
		</div>

		<script>
			const photo = JSON.parse(`<%- JSON.stringify(photo) %>`)
		</script>
		
	</body>
</html>