@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --clr-white: #fff;
  --dark-bg: #1c1c1c;
  --clr-primary: #ffac8c;
  --clr-primary-hover: #ffdfd2;
  --clr-primary-dark-bg: #433935;
  --clr-grey: rgb(54, 54, 54);
  --clr-grey-hover: rgb(82, 82, 82);
  --clr-grey-dark: rgb(44, 44, 44);
  --clr-grey: rgb(54, 54, 54);
  --clr-grey-light: rgb(121, 121, 121);
  --clr-grey-light-hover: rgb(200, 200, 200);
  --clr-error: #f35c5c;
  --clr-error-bg: #271616;
  --clr-success: #00c853;
  --clr-success-bg: #14251c;
  --clr-info: #e8e85d;
  --clr-info-bg: #303023;
  --btn-padding-x: 0.625em;
  --btn-padding-y: 0.25em;
  --btn-padding: var(--btn-padding-y) var(--btn-padding-x);
  --border-radius: 0.3125em;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--dark-bg);
  color: var(--clr-white);
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-bg);
  border-left: 1px solid var(--clr-grey-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-grey-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey);
}

.container {
  width: 95%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-row-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.btn {
  position: relative;
  cursor: pointer;
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  border: none;
}

.btn-primary {
  background-color: var(--clr-primary-hover);
  border: 2px solid var(--clr-primary);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--clr-primary);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: var(--clr-grey-hover);
}

.btn-link, .btn-link-danger {
  padding: unset;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: transparent;
}

.btn-link::after, .btn-link-danger::after {
  content: '';
  pointer-events: none;
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--clr-primary);
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-link:hover, .btn-link-danger:hover {
  color: var(--clr-primary);
}

.btn-link:hover::after, .btn-link-danger:hover::after {
  width: 100%;
  left: 0%;
}

.btn-link-danger {
  color: var(--clr-error);
}

.btn-link-danger::after {
  content: none;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-group label {
  margin-bottom: 3px;
}

.input-group input,
.input-group textarea,
.input-group select {
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-grey);
  padding: var(--btn-padding);
  background-color: transparent;
  color: var(--clr-white);
  outline: none;
}

.input-group input:hover,
.input-group textarea:hover,
.input-group select:hover {
  border-color: var(--clr-grey-hover);
}

.input-group input:focus-within,
.input-group textarea:focus-within,
.input-group select:focus-within {
  border-color: #919191;
}

.input-group input.is-invalid,
.input-group textarea.is-invalid,
.input-group select.is-invalid {
  border-color: var(--clr-error);
}

.input-group select option {
  background-color: var(--dark-bg);
}

.input-group textarea {
  resize: vertical;
}

.input-group .invalid-feedback {
  position: absolute;
  right: 0.5em;
  bottom: -1.15em;
  font-size: 12px;
  background-color: var(--clr-error);
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
}

.input-group .input-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.input-group .input-btn-group input {
  width: 100%;
}

.input-group .input-btn-group input ~ .icon-btn {
  position: absolute;
  right: .5rem;
  color: var(--clr-white);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.input-group .input-btn-group input ~ .icon-btn:hover {
  opacity: .75;
}

.input-group .input-solid-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.input-group .input-solid-btn-group input {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .input-solid-btn-group input ~ .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 1px;
}

.input-group .check {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.input-group .check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.input-group .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--clr-primary-hover);
  stroke-width: 1.5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-group .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.input-group .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.input-group .check:hover:before {
  opacity: 1;
}

.input-group .check:hover svg {
  stroke: var(--clr-primary);
}

.input-group .checkbox-input {
  display: none;
}

.input-group .checkbox-input:checked + .check svg {
  stroke: var(--clr-primary);
}

.input-group .checkbox-input:checked + .check svg path {
  stroke-dashoffset: 60;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group .checkbox-input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.input-group .checkbox-input:disabled + .check {
  cursor: initial;
}

.input-group .checkbox-input:disabled + .check svg {
  stroke: var(--clr-grey-light);
}

.google-auth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-white);
  text-decoration: none;
  border: 1px solid var(--clr-grey);
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
}

.google-auth svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.google-auth:hover {
  background-color: var(--clr-grey-dark);
}

.alert {
  padding: 1rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border: 1px solid;
  border-radius: var(--border-radius);
  font-size: 14px;
  max-width: 20rem;
  -webkit-animation: slide-in 0.5s ease forwards;
          animation: slide-in 0.5s ease forwards;
}

.alert.alert-error {
  background-color: var(--clr-error-bg);
  border-color: var(--clr-error);
  color: var(--clr-error);
}

.alert.alert-success {
  background-color: var(--clr-success-bg);
  border-color: var(--clr-success);
  color: var(--clr-success);
}

.alert.alert-info {
  background-color: var(--clr-info-bg);
  border-color: var(--clr-info);
  color: var(--clr-info);
}

.alert.slide-out {
  -webkit-animation: slide-out 0.75s ease forwards;
          animation: slide-out 0.75s ease forwards;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@keyframes slide-out {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  position: relative;
  background-color: var(--dark-bg);
  margin: 10% auto;
  width: 65%;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.modal-content .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-content .modal-footer .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.modal-content .modal-footer .btn-group .btn-link.delete-btn, .modal-content .modal-footer .btn-group .delete-btn.btn-link-danger {
  color: var(--clr-error);
}

.modal-content .modal-footer .btn-group .btn-link.delete-btn::after, .modal-content .modal-footer .btn-group .delete-btn.btn-link-danger::after {
  background-color: var(--clr-error);
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--clr-grey-light-hover);
  font-size: 1rem;
}

.close:hover, .close:focus {
  color: var(--clr-grey-hover);
  text-decoration: none;
  cursor: pointer;
}

.occupy-space {
  padding-top: 3.0625rem;
}

.partial-nav {
  border-bottom: 1px solid var(--clr-grey-dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(28, 28, 28, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.partial-nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.partial-nav .nav-container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.partial-nav .nav-container .nav-title {
  font-size: 1.75rem;
  font-weight: 800;
}

.partial-nav .nav-container .nav-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 30rem;
}

.partial-nav .nav-container .nav-search .icon-btn {
  color: var(--clr-grey-light);
}

.partial-nav .nav-container .nav-search .icon-btn:hover {
  color: var(--clr-grey-light-hover);
}

.partial-nav .nav-container .nav-search input {
  background-color: var(--dark-bg);
}

.partial-nav .nav-container .nav-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partial-nav .nav-container .nav-profile .dropdown {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-toggle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  outline: 1px solid var(--clr-primary);
  outline-offset: 2px;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content {
  background-color: var(--clr-grey-dark);
  border-radius: var(--border-radius);
  position: absolute;
  right: 0;
  top: 120%;
  z-index: 1;
  border: 1px solid var(--clr-grey-hover);
  padding: 0.1875rem;
  text-align: right;
  box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.3);
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content > * {
  padding: var(--btn-padding);
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius);
  font-weight: 400;
  white-space: nowrap;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content .datos-perfil {
  border-bottom: 1px solid var(--clr-grey-hover);
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content .datos-perfil .datos-nombre {
  font-weight: 600;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content .datos-perfil .datos-usuario {
  color: #b3b3b3;
  font-size: 12px;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link, .partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link-danger {
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link:hover, .partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link-danger:hover {
  background-color: var(--clr-primary-dark-bg);
}

.partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link::after, .partial-nav .nav-container .nav-profile .dropdown .dropdown-content > .btn-link-danger::after {
  content: none;
}

.side-nav {
  --top-nav-height: 3.0625rem;
  height: 100vh;
  position: fixed;
  top: var(--top-nav-height);
  left: 0;
  margin-left: 2rem;
  margin-top: 2rem;
}

.side-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.side-nav__item {
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  width: 100%;
}

.side-nav__item i {
  width: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.3125rem;
}

.side-nav__item::after {
  content: none;
}

.side-nav__item.selected {
  background-color: #322d2a;
}

.post-container {
  width: 95%;
  max-width: 30rem;
  margin: 2rem auto;
  padding-bottom: 5rem;
}

.post-container .post {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.post-container .post .post-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .75rem;
}

.post-container .post .post-header .post-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-container .post .post-header .post-right .btn-link::after, .post-container .post .post-header .post-right .btn-link-danger::after {
  content: none;
}

.post-container .post .post-header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--clr-white);
  text-decoration: none;
}

.post-container .post .post-header__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 1rem;
  outline: 1px solid var(--clr-primary);
  outline-offset: 2px;
}

.post-container .post .post-header__avatar img {
  max-width: 100%;
  height: auto;
}

.post-container .post .post-header__date {
  color: var(--clr-grey-light);
}

.post-container .post .post-header__separator {
  margin: 0 .25rem;
}

.post-container .post .post-image {
  width: 100%;
  margin-bottom: 0.75rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
}

.post-container .post .post-image img {
  width: 100%;
  height: auto;
}

.post-container .post .post-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.post-container .post .post-actions__rating p {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-container .post .post-actions__rating label {
  color: var(--clr-grey);
  cursor: pointer;
  font-size: 1.75rem;
}

.post-container .post .post-actions__rating label:hover,
.post-container .post .post-actions__rating label:hover ~ label {
  color: var(--clr-grey-light);
}

.post-container .post .post-actions__rating input[type="radio"] {
  display: none;
}

.post-container .post .post-actions__rating input[type="radio"]:checked ~ label {
  color: var(--clr-primary);
}

.post-container .post .post-actions__rating-average {
  color: var(--clr-grey-light);
}

.post-container .post .post-details__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .25rem;
}

.post-container .post .post-details__tags .tag {
  color: var(--clr-primary);
  font-size: 0.825rem;
  cursor: pointer;
}

.post-container .post .post-details__tags .tag:hover {
  color: var(--clr-primary-hover);
}

.post-container .post .post-footer__comments {
  font-size: 0.75rem;
  color: var(--clr-grey-light);
  text-decoration: none;
  cursor: pointer;
}

.post-container .post .post-footer__comments:hover {
  text-decoration: underline;
}

.post-container .post:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey-dark);
}

.post-container .loading-container {
  margin-top: 2rem;
}

.load-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: var(--clr-primary);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
  margin-left: auto;
  margin-right: auto;
}

.load-cradle__dot {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.load-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.load-cradle__dot:first-child {
  -webkit-animation: swing var(--uib-speed) linear infinite;
          animation: swing var(--uib-speed) linear infinite;
}

.load-cradle__dot:last-child {
  -webkit-animation: swing2 var(--uib-speed) linear infinite;
          animation: swing2 var(--uib-speed) linear infinite;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  25% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@-webkit-keyframes swing2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes swing2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

.showLoad-enter-active {
  -webkit-animation: bounce-in 0.75s;
          animation: bounce-in 0.75s;
}

.showLoad-leave-active {
  animation: bounce-in 0.75s reverse;
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.login-page {
  height: 100%;
  padding-top: 2rem;
}

.login-page .page-title {
  font-weight: 800;
  text-align: center;
}

.login-page .page-title a {
  color: inherit;
  text-decoration: none;
}

.login-page .forms-container {
  overflow: hidden;
  padding: 3rem 0;
}

.login-page .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.login-page .options > li {
  cursor: pointer;
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  background-size: 200%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: background-position 250ms ease, color 100ms ease, -webkit-transform 250ms ease;
  transition: background-position 250ms ease, color 100ms ease, -webkit-transform 250ms ease;
  transition: background-position 250ms ease, color 100ms ease, transform 250ms ease;
  transition: background-position 250ms ease, color 100ms ease, transform 250ms ease, -webkit-transform 250ms ease;
}

.login-page .options > li:hover {
  opacity: .75;
}

.login-page .options > li.active-option {
  color: black;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: 500;
}

.login-page .options > li:first-child {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, white));
  background-image: linear-gradient(to right, transparent 50%, white 50%);
  background-position: left;
}

.login-page .options > li:first-child.active-option {
  background-position: right;
}

.login-page .options > li:nth-child(2) {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, white));
  background-image: linear-gradient(to left, transparent 50%, white 50%);
  background-position: right;
}

.login-page .options > li:nth-child(2).active-option {
  background-position: left;
}

.login-page .forms {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
  margin-top: 1rem;
}

.login-page .forms > .form-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.login-page .form-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 1.5rem;
}

.login-page .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 35rem;
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
  opacity: 1;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  z-index: 0;
}

.login-page .form-container .form-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.login-page .avatar-input-label {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
}

.login-page .avatar-input-label .hover-overlay {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.75rem;
  opacity: 0;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}

.login-page .avatar-input-label:hover .hover-overlay {
  opacity: 1;
}

.login-page .sign-up-active form.log-in,
.login-page .log-in-active form.sign-up {
  opacity: 0;
  z-index: -10;
}

.login-page .sign-up-active form.log-in {
  -webkit-transform: translateX(20rem) scale(0.5);
          transform: translateX(20rem) scale(0.5);
}

.login-page .log-in-active form.sign-up {
  -webkit-transform: translateX(-20rem) scale(0.5);
          transform: translateX(-20rem) scale(0.5);
}

.resetAvatar-enter-active {
  -webkit-animation: bounce-in 0.5s;
          animation: bounce-in 0.5s;
}

.resetAvatar-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.profile-page .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.profile-page .user-data .user-data-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
}

.profile-page .user-data .user-data-content .user-name {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-page .user-data .user-data-content .user-name .btn-link::after, .profile-page .user-data .user-data-content .user-name .btn-link-danger::after {
  content: none;
}

.profile-page .user-data .user-data-content .user-created span {
  color: #b3b3b3;
  font-size: 0.75rem;
}

.profile-page .content-divider {
  width: 95%;
  margin: 2rem auto;
  border-bottom: 1px solid var(--clr-grey);
}

.edit-profile-page .container {
  margin-top: 2rem;
}

.edit-profile-page .container .form-width-constraint {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.edit-profile-page .container form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.edit-profile-page .container form .avatar-input-label {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
}

.edit-profile-page .container form .avatar-input-label .hover-overlay {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.75rem;
  opacity: 0;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}

.edit-profile-page .container form .avatar-input-label:hover .hover-overlay {
  opacity: 1;
}

.edit-profile-page .container form .collapsable-div {
  background-color: var(--clr-grey-dark);
  border-radius: var(--border-radius);
  padding: .625rem;
}

.edit-profile-page .container form .collapsable-div .collapsable-title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-profile-page .container form .collapsable-div .collapsable-title i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.edit-profile-page .container form .collapsable-div.open .collapsable-title i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.edit-profile-page .container form .collapsable-div .collapsable-content {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.edit-profile-page .container form .collapsable-div .collapsable-content .input-group:first-child {
  margin-top: 1rem;
}

.edit-profile-page .container form .collapsable-div .collapsable-content .input-group:last-child {
  margin-bottom: 1rem;
}

.edit-profile-page .container form .collapsable-div.open .collapsable-content {
  max-height: 500px;
}

.edit-profile-page .container form .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.create-page .container {
  max-width: 30rem;
}

.create-page .container form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.create-page .container form .avatar-input-label {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
}

.create-page .container form .avatar-input-label .hover-overlay {
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.75rem;
  opacity: 0;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}

.create-page .container form .avatar-input-label:hover .hover-overlay {
  opacity: 1;
}

.create-page .container form .avatar-input-label .empty-photo {
  padding: 1rem;
}

.create-page .container form .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.create-page .container form .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.create-page .container form .tags-container .tag {
  font-size: 0.875rem;
  background-color: var(--clr-grey-dark);
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  color: var(--clr-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-page .container form .tags-container .tag .remove-tag {
  font-size: 0.75rem;
  cursor: pointer;
  margin-left: .5rem;
}

.create-page .container form .tags-container .tag .remove-tag:hover {
  opacity: 0.5;
}

.create-page .container form .collapsable-div {
  background-color: var(--clr-grey-dark);
  border-radius: var(--border-radius);
  padding: .625rem;
}

.create-page .container form .collapsable-div .collapsable-title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-page .container form .collapsable-div .collapsable-title i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.create-page .container form .collapsable-div.open .collapsable-title i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.create-page .container form .collapsable-div .collapsable-content {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.create-page .container form .collapsable-div .collapsable-content p {
  margin-top: 1rem;
}

.create-page .container form .collapsable-div.open .collapsable-content {
  max-height: 500px;
}

.edit-page .container {
  max-width: 30rem;
}

.edit-page .container form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.edit-page .container form .photo-preview {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-page .container form .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-page .container form .btn-group .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit-page .container form .btn-group .delete-btn {
  color: var(--clr-error);
}

.edit-page .container form .btn-group .delete-btn::after {
  background-color: var(--clr-error);
}

.edit-page .container form .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.edit-page .container form .tags-container .tag {
  font-size: 0.875rem;
  background-color: var(--clr-grey-dark);
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  color: var(--clr-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-page .container form .tags-container .tag .remove-tag {
  font-size: 0.75rem;
  cursor: pointer;
  margin-left: .5rem;
}

.edit-page .container form .tags-container .tag .remove-tag:hover {
  opacity: 0.5;
}

.photo-page {
  height: calc(100% - 3.0625rem);
  padding: 2rem;
}

.photo-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.photo-page .container .photo-preview,
.photo-page .container .photo-data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.photo-page .container .photo-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.photo-page .container .photo__img {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.photo-page .container .photo-data {
  background-color: var(--clr-grey-dark);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-page .container .data__header {
  position: relative;
}

.photo-page .container .data__header::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey);
}

.photo-page .container .data__header-top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-page .container .data__header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--clr-white);
  text-decoration: none;
}

.photo-page .container .data__header-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 1rem;
  outline: 1px solid var(--clr-primary);
  outline-offset: 2px;
}

.photo-page .container .data__header-avatar img {
  max-width: 100%;
  height: auto;
}

.photo-page .container .data__header-date {
  color: var(--clr-grey-light);
}

.photo-page .container .data__header-separator {
  margin: 0 .25rem;
}

.photo-page .container .data__header-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

.photo-page .container .data__header-tags .tag {
  color: var(--clr-primary);
  font-size: 0.825rem;
  cursor: pointer;
}

.photo-page .container .data__header-tags .tag:hover {
  color: var(--clr-primary-hover);
}

.photo-page .container .data-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0.25rem;
}

.photo-page .container .actions__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.photo-page .container .actions__rating-stars p {
  direction: rtl;
  unicode-bidi: bidi-override;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-page .container .actions__rating-stars label {
  color: var(--clr-grey);
  cursor: pointer;
  font-size: 1.75rem;
}

.photo-page .container .actions__rating-stars label:hover,
.photo-page .container .actions__rating-stars label:hover ~ label {
  color: var(--clr-grey-light);
}

.photo-page .container .actions__rating-stars input[type="radio"] {
  display: none;
}

.photo-page .container .actions__rating-stars input[type="radio"]:checked ~ label {
  color: var(--clr-primary);
}

.photo-page .container .actions__rating-average {
  color: var(--clr-grey-light);
}
