.load-cradle {
	--uib-size: 50px;
	--uib-speed: 1.2s;
	--uib-color: var(--clr-primary);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--uib-size);
	height: var(--uib-size);

	margin-left: auto;
	margin-right: auto;
}

.load-cradle__dot {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	width: 25%;
	transform-origin: center top;
}

.load-cradle__dot::after {
	content: '';
	display: block;
	width: 100%;
	height: 25%;
	border-radius: 50%;
	background-color: var(--uib-color);
}

.load-cradle__dot:first-child {
	animation: swing var(--uib-speed) linear infinite;
}

.load-cradle__dot:last-child {
	animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	25% {
		transform: rotate(70deg);
		animation-timing-function: ease-in;
	}

	50% {
		transform: rotate(0deg);
		animation-timing-function: linear;
	}
}

@keyframes swing2 {
	0% {
		transform: rotate(0deg);
		animation-timing-function: linear;
	}

	50% {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}

	75% {
		transform: rotate(-70deg);
		animation-timing-function: ease-in;
	}
}

// Vue transitions
.showLoad-enter-active { animation: bounce-in 0.75s; }

.showLoad-leave-active { animation: bounce-in 0.75s reverse; }

@keyframes bounce-in {
	0% { transform: scale(0);	}
	50% { transform: scale(1.25);	}
	100% { transform: scale(1);	}
}