.occupy-space {
	padding-top: 3.0625rem;
}

.partial-nav {
	border-bottom: 1px solid var(--clr-grey-dark);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	// Blurry-background effect
	background-color: rgba(28, 28, 28, 0.5);
	backdrop-filter: blur(10px);

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;

		.nav-right {
			display: flex;
			align-items: center;
			gap: 2rem;
		}

		.nav-title {
			font-size: 1.75rem;
			font-weight: 800;
		}

		.nav-search {
			flex-grow: 1;
			max-width: 30rem;
			
			.icon-btn {
				color: var(--clr-grey-light);

				&:hover {
					color: var(--clr-grey-light-hover);
				}
			}

			input {
				background-color: var(--dark-bg);
			}
		}

		.nav-profile {
			display: flex;
			align-items: center;

			.dropdown {
				position: relative;
				display: inline-block;
				margin: 0.5rem 0;

				.dropdown-toggle {
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					overflow: hidden;
					cursor: pointer;
					display: grid;
					place-items: center;

					outline: 1px solid var(--clr-primary);
					outline-offset: 2px;
				}

				.dropdown-content {
					background-color: var(--clr-grey-dark);
					border-radius: var(--border-radius);
					position: absolute;
					right: 0;
					top: 120%;
					z-index: 1;
					border: 1px solid var(--clr-grey-hover);
					padding: 0.1875rem;
					text-align: right;
					box-shadow: -1px 6px 18px -1px rgba(0,0,0,0.3);
					-webkit-box-shadow: -1px 6px 18px -1px rgba(0,0,0,0.3);
					-moz-box-shadow: -1px 6px 18px -1px rgba(0,0,0,0.3);

					> * {
						padding: var(--btn-padding);
						display: inline-block;
						width: 100%;
						border-radius: var(--border-radius);
						font-weight: 400;
						white-space: nowrap;
					}

					.datos-perfil {
						border-bottom: 1px solid var(--clr-grey-hover);

						.datos-nombre {
							font-weight: 600;
						}

						.datos-usuario {
							color: #b3b3b3;
							font-size: 12px;
						}
					}

					> .btn-link {
						cursor: pointer;
						transition: none;

						&:hover {
							background-color: var(--clr-primary-dark-bg);
						}

						&::after {
							content: none;
						}
					}


				}
			}
		}
	}
}