.create-page {
	.container {
		max-width: 30rem;

		form {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding-bottom: 3rem;

			.avatar-input-label {
				position: relative;
				width: 100%;
				height: auto;
				border-radius: var(--border-radius);
				overflow: hidden;
				cursor: pointer;
				margin-top: .5rem;
				display: flex;
				justify-content: center;
				align-items: center;

				outline: 2px solid var(--clr-primary);
				outline-offset: 3px;

				.hover-overlay {
					display: grid;
					place-content: center;
					background-color: rgba(0, 0, 0, 0.75);
					color: white;
					font-size: 1.75rem;
					opacity: 0;
					transition: opacity 150ms ease;
					width: 100%;
					height: 100%;
					pointer-events: none;
					position: absolute;
				}

				&:hover .hover-overlay { opacity: 1; }

				.empty-photo {
					padding: 1rem;
				}
			}

			.btn-primary {
				width: fit-content;
			}

			
			.tags-container {
				display: flex;
				gap: .5rem;
				margin-top: .5rem;
				flex-wrap: wrap;

				.tag {
					font-size: 0.875rem;
					background-color: var(--clr-grey-dark);
					border-radius: var(--border-radius);
					padding: var(--btn-padding);
					color: var(--clr-primary);
					display: flex;
					align-items: center;

					.remove-tag {
						font-size: 0.75rem;
						cursor: pointer;
						margin-left: .5rem;

						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}