.search-page {
	.search-container {
		width: 95%;
		max-width: 30rem;
		margin: 2rem auto;
	}

	.content-divider {
		width: 95%;
		max-width: 30rem;
		margin: 2rem auto;
		border-bottom: 1px solid var(--clr-grey);
	}
}